@model Destination
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Blog Single </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <!-- Template CSS -->
</head>

<body>
    @await Html.PartialAsync("/Views/MainLayoutPartial/_IntroductionTitle.cshtml")
    @await Component.InvokeAsync("_IntroductionAuthor", new { id = ViewBag.id })
    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-image">
                    <div class="post-content">
                        <img src="@Model.CoverImage" class="radius-image img-fluid mb-5" alt="" />
                    </div>
                </div>
                <div class="single-post-content">
                    <p class="mb-4">
                      @Model.Details1
                    </p>
                   @*  <blockquote class="blockquote my-5">
                        <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                        Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Ea
                        consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit
                        totam animi, dolores magnam assumenda soluta odit harum.
                        <footer class="blockquote-footer mt-3">
                            Smith lara
                        </footer>
                    </blockquote> *@
                    <div class="sing-post-thumb mb-5 row pt-3">
                        <div class="col-sm-6">
                            <a href="#url"><img style="height:250px;width:500px" src="@Model.Image1" class="img-fluid radius-image" alt=""></a>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-3">
                            <a href="#url"><img style="height:250px;width:500px" src="@Model.Image2" class="img-fluid radius-image" alt=""></a>
                        </div>
                    </div>
                    <h3 class="blog-desc-big m-0 mb-lg-4 mb-3">@Model.City</h3>
                    <p class="mb-4">
                       @Model.Details2
                    </p>

                  
@await Component.InvokeAsync("_Tags")


                    @await Component.InvokeAsync("_Author", new { id = ViewBag.id })



                    @await Component.InvokeAsync("_CommentList",new{id=ViewBag.id})               

@await Html.PartialAsync("/Views/Comment/_LeaveAComment.cshtml")                    
                </div>
            </div>
            </div>
    </section>
</body>

</html>

