@model Destination
@{
    ViewData["Title"] = "EditDestination";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Rota Güncelleme Sayfası</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x=>x.DestinationId)
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Rota:</label>
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "Rota" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Gün/Gece:</label>
                        @Html.TextBoxFor(x => x.DayNight, new { @class = "form-control", @placeholder = "Gün/Gece" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Fiyat:</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Fiyat" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Toplam Kontenjan:</label>
                        @Html.TextBoxFor(x => x.Capacity, new { @class = "form-control", @placeholder = "Kontenjan" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">ROTA RESMİ:</label>
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control", @placeholder = "Rota Resmi" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">KAPAK RESMİ:</label>
                        @Html.TextBoxFor(x => x.CoverImage, new { @class = "form-control", @placeholder = "Kapak Resmi" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Küçük Resim:</label>
                        @Html.TextBoxFor(x => x.Image1, new { @class = "form-control", @placeholder = "Resim 1" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Küçük Resim 2:</label>
                        @Html.TextBoxFor(x => x.Image2, new { @class = "form-control", @placeholder = "Resim 2" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Kısa Açıklama:</label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Açıklama" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">1.Paragraf:</label>
                        @Html.TextBoxFor(x => x.Details1, new { @class = "form-control", @placeholder = "Açıklama 1" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">2.Paragraf:</label>
                        @Html.TextBoxFor(x => x.Details2, new { @class = "form-control", @placeholder = "Açıklama 2" })
                    </div>
                    <button class="btn btn-success">Rotayı Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>



